body{
    font-family: 'Noto Serif', serif; 
}
.first-part{
 background-color: #f0fff0; 
 margin-bottom: 50px;  
}
.img-fluid{
    max-width: 100%;
}
.container{
    : 30px;
    
}
.need-shadow{
    box-shadow: 3px 3px 8px 10px lightgray;
    
    
 }
 .col-md-3{
    border-radius: 10px;  
 }
 .button-design{
    background-color: #2FA470;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all .6s ease-in-out;
 }
 .three-card{
     background-color: mintcream;
 }
.shadow-all{
    box-shadow: 2px 2px 5px grey;
    margin-left: 0px;
}
.last-part{
    height:400px;
    background-color: #332939;
}